aes==1.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
crypto==1.4.1
cryptography==39.0.2
gevent==22.10.2
greenlet==2.0.2
idna==3.4
Naked==0.1.32
pycparser==2.21
PyYAML==6.0
requests==2.28.2
shellescape==3.8.1
six==1.16.0
urllib3==1.26.15
websocket==0.2.1
websocket-client==1.5.1
websockets==10.4
zope.event==4.6
zope.interface==6.0
pycryptodome
